<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara - eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">

    <link rel="stylesheet" href="assets/css/main.css?v=3.4">

    <style>
        .navbar {
            background-color: #1a1a1a;
            padding: 15px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }

        .navbar .logo {
            display: flex;
            align-items: center;
        }

        .navbar .logo i {
            font-size: 24px;
            margin-right: 10px;
        }

        .navbar .logo span {
            font-size: 24px;
            font-weight: bold;
        }

        .navbar ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
        }

        .navbar ul li {
            margin-left: 30px;
        }

        .navbar ul li a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            transition: color 0.3s ease;
        }

        .navbar ul li a:hover {
            color: #007bff;
        }

        .navbar .search-bar {
            margin-left: 30px;
        }

        .navbar .search-bar input {
            padding: 5px 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            width: 200px;
        }

        .navbar .search-bar button {
            background: #007bff;
            border: none;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        .navbar .search-bar button i {
            font-size: 16px;
        }

        .navbar .user-actions {
            display: flex;
            align-items: center;
            margin-left: auto;
        }

        .navbar .user-actions a {
            color: white;
            text-decoration: none;
            margin-left: 20px;
            font-size: 18px;
            transition: color 0.3s ease;
            display: flex;
            align-items: center;
        }

        .navbar .user-actions a:hover {
            color: #007bff;
        }

        .navbar .wishlist-icon i,
        .navbar .cart-icon i {
            font-size: 20px;
            margin-right: 5px;
        }

        .navbar .dropdown {
            position: relative;
            display: inline-block;
        }

        .navbar .dropdown-content {
            display: none;
            position: absolute;
            background-color: #1a1a1a;
            min-width: 200px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .navbar .dropdown-content a {
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            display: block;
        }

        .navbar .dropdown-content a:hover {
            background-color: #007bff;
        }

        .navbar .dropdown:hover .dropdown-content {
            display: block;
        }

        .cta-button {
            display: inline-block;
            padding: 15px 30px;
            margin: 10px 0;
            background: #007bff;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
            font-size: 1.2rem;
            transition: background 0.3s ease;
        }

        .cta-button:hover {
            background-color: #0056b3;
        }


        .main-content {
            padding: 40px 20px;
            max-width: 1200px;
            margin: 0 auto;
        }


        .products-promotions-section {
            padding: 40px 30px;
        }

        .products-promotions-section h2 {
            font-size: 2.5rem;
            margin-bottom: 30px;
            text-align: center;
            text-transform: uppercase;
            color: #333;
        }

        .book-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 30px;
        }

        .book-item {
            background-color: white;
            padding: 15px;
            text-align: center;
            border-radius: 8px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            max-width: 250px;
            margin: auto;
            overflow: hidden;
        }

        .book-item img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 5px;
            margin-bottom: 15px;
            transition: transform 0.3s ease;
        }

        .book-item img:hover {
            transform: scale(1.05);
        }

        .book-item h3 {
            font-size: 1rem;
            margin: 0;
            color: #000;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .book-item p {
            font-size: 0.9rem;
            color: #000;
            margin-bottom: 10px 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .book-item button {
            padding: 8px 15px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-size: 0.9rem;
            transition: background-color 0.3s ease;
            margin-top: 10px;
        }

        .book-item button:hover {
            background-color: #0056b3;
        }

        .book-item .out-of-stock-button {
            background-color: #f44336;
        }

        .book-item .out-of-stock-button:hover {
            background-color: #c62828;
        }

        .out-of-stock-btn {
            background-color: #dc3545;
            border: none;
            color: white;
            font-weight: bold;
            cursor: not-allowed;
            opacity: 0.7;
            padding: 8px 16px;
            border-radius: 4px;
            text-align: center;
        }

        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .pagination a {
            margin: 0 5px;
            padding: 10px 15px;
            text-decoration: none;
            color: #3b4959;
            border: 1px solid #ddd;
            border-radius: 4px;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        .pagination a:hover {
            background-color: #3b4959;
            color: #fff;
        }

        .pagination a.active {
            background-color: #3b4959;
            color: #fff;
            border-color: #3b4959;
        }

        .pagination a.prev,
        .pagination a.next {
            font-weight: bold;
        }

        .pagination a.disabled {
            pointer-events: none;
            background-color: #f5f5f5;
            color: #aaa;
            border-color: #ddd;
        }

        .footer {
            background-color: #1a1a1a;
            color: white;
            text-align: center;
            padding: 20px;
            position: relative;
            bottom: 0;
            width: 100%;
        }

        .footer a {
            color: #007bff;
            text-decoration: none;
        }

        .footer a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>


    <nav class="navbar">
        <div class="logo">
            <i class="fas fa-book"></i>
            <span>ChapterLane</span>
        </div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/shop">Shop</a></li>
            <li class="dropdown">
                <a href="#">Browse Category</a>
                <div class="dropdown-content">
                    <% if (categories.length> 0) { %>
                        <% categories.forEach(category=> { %>
                            <a
                                href="/shop?category=<%= category._id %>&sort=<%= category._id%>&sort=nameAsc&page=1&limit=12">
                                <%= category.name %>
                            </a>
                            <% }); %>
                                <% } %>
                </div>
            </li>

        </ul>
        <div class="user-actions">
            <a href="/wishlist" class="wishlist-icon">
                <i class="fas fa-heart"></i> Wishlist
            </a>
            <a href="/cart" class="cart-icon">
                <i class="fas fa-shopping-cart"></i> Cart
            </a>
        </div>
    </nav>

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/home" rel="nofollow">Home</a>
                    <span></span> Shop
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="shop-product-fillter">
                            <div class="total-product">
                            </div>
                            <div class="search-sort-container"
                                style="display: flex; justify-content: center; align-items: center; gap: 20px; margin-bottom: 15px;">
                                <div class="search-bar" style="flex-grow: 1; max-width: 400px;">
                                    <form action="/searchInShop" method="POST" style="display: flex;">
                                        <input type="text" name="search" placeholder="Search for items…"
                                            style="flex-grow: 1; padding: 10px; border: 1px solid #ddd; border-radius: 5px 0 0 5px;">
                                        <button type="submit"
                                            style="padding: 10px 15px; border: 1px solid #ddd; border-left: none; background: #ff4500; color: white; border-radius: 0 5px 5px 0;">
                                            <i class="fi-rs-search"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="sort-by-product-area">
                                    <div class="sort-by-cover mr-10">
                                    </div>
                                    <div class="sort-by-cover">
                                        <div class="sort-by-product-wrap">
                                            <div class="sort-by">
                                                <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                            </div>
                                            <div class="sort-by-dropdown-wrap">
                                                <span id="sort-title">Featured <i
                                                        class="fi-rs-angle-small-down"></i></span>
                                            </div>
                                        </div>
                                        <div class="sort-by-dropdown">
                                            <ul id="sort-options">
                                                <li><a href="/shop?sort=featured" data-sort="featured">Featured</a></li>
                                                <li><a href="/shop?sort=priceAsc" data-sort="priceAsc">Price: Low to
                                                        High</a></li>
                                                <li><a href="/shop?sort=priceDesc" data-sort="priceDesc">Price: High to
                                                        Low</a></li>
                                                <li><a href="/shop?sort=newArrivals" data-sort="newArrivals">New
                                                        Arrivals</a></li>
                                                <li><a href="/shop?sort=nameAsc" data-sort="nameAsc">aA - zZ</a></li>
                                                <li><a href="/shop?sort=nameDesc" data-sort="nameDesc">zZ - aA</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <main class="main-content">

                            <section class="products-promotions-section">

                                <h2>Books Collection</h2>
                                <div class="tab-content wow fadeIn animated" id="myTabContent">
                                    <div class="tab-pane fade show active" id="tab-one" role="tabpanel"
                                        aria-labelledby="tab-one">
                                        <div class="book-grid">
                                            <% product.forEach(item=> { %>
                                                <% if (item.status==="Active" ) { %>
                                                    <div class="book-item">
                                                        <img src="/adminImages/<%= item.images[0] %>"
                                                            alt="<%= item.name %>">
                                                        <h3><a href="/singleProduct?id=<%= item._id %>">
                                                                <%= item.name %>
                                                            </a></h3>
                                                        <p>Price: <%= item.price %> Rs</p>
                                                        <div class="product-action-1 show">
                                                            <a aria-label="Add To Cart" class="action-btn hover-up"
                                                                href="/addToCart?productId=<%= item._id %>">
                                                                <i class="fi-rs-shopping-bag-add"></i>
                                                            </a>
                                                        </div>

                                                        <% if (item.stock===0) { %>
                                                            <button class="btn btn-warning out-of-stock-button">Out of
                                                                stock</button>
                                                            <% } else { %>
                                                                <a class="add-to-cart-btn"
                                                                    href="/addToCart?productId=<%= item._id %>">
                                                                    Add to Cart
                                                                </a>
                                                                <% } %>
                                                    </div>
                                                    <% } %>
                                                        <% }) %>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </main>



                        <div class="pagination">

                            <% if (currentPage> 1) { %>
                                <a
                                    href="/shop?category=<%= categoryId || '' %>&sort=<%= sortOption %>&page=<%= currentPage - 1 %>&limit=<%= limit %>">Previous</a>
                                <% } %>


                                    <% pageNumbers.forEach(function(pageNumber) { %>
                                        <a href="/shop?category=<%= categoryId || '' %>&sort=<%= sortOption %>&page=<%= pageNumber %>&limit=<%= limit %>"
                                            class="<%= pageNumber === currentPage ? 'active' : '' %>">
                                            <%= pageNumber %>
                                        </a>
                                        <% }); %>


                                            <% if (currentPage < totalPages) { %>
                                                <a
                                                    href="/shop?category=<%= categoryId || '' %>&sort=<%= sortOption %>&page=<%= currentPage + 1 %>&limit=<%= limit %>">Next</a>
                                                <% } %>
                        </div>

                        <div class="col-lg-3 primary-sidebar sticky-sidebar">
                            <div class="row">
                                <div class="col-lg-12 col-mg-6"></div>
                                <div class="col-lg-12 col-mg-6"></div>
                            </div>

                        </div>
                    </div>
                </div>
        </section>
    </main>

    <footer class="footer">
        <p>&copy; 2024 ChapterLane. All rights reserved.</p>
        <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a> | <a href="#">Contact Us</a></p>
        <div>
            <a href="#">Facebook</a> | <a href="#">Twitter</a> | <a href="#">Instagram</a>
        </div>
    </footer>

    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="assets/js/plugins/jquery.elevatezoom.js"></script>
    <script src="./assets/js/main.js?v=3.4"></script>
    <script src="./assets/js/shop.js?v=3.4"></script>


    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const urlParams = new URLSearchParams(window.location.search);
            const sortParam = urlParams.get('sort');

            const sortOptions = document.querySelectorAll('#sort-options a');

            sortOptions.forEach(option => {
                option.classList.remove('active');
            });

            if (sortParam) {
                const selectedOption = document.querySelector(`#sort-options a[data-sort="${sortParam}"]`);
                if (selectedOption) {
                    selectedOption.classList.add('active');
                    document.getElementById('sort-title').textContent = selectedOption.textContent;
                }
            } else {
                document.querySelector('#sort-options a[data-sort="featured"]').classList.add('active');
                document.getElementById('sort-title').textContent = 'Featured';
            }
        })

    </script>
</body>

</html>